.modalContainer{
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 999;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.modal{
  /* 모달창 크기 */
  width: 400px;
  height: 500px;
  
  /* 중앙 배치 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  /* background-color: lightblue; */
  background: rgba(255, 255, 255, .8);
  /* backdrop-filter: blur(5px); */
  border: 1px solid black;
  border-radius: 8px;

  display: flex;
  align-items:center;
  justify-content: center;
  /* backdrop-filter: blur(2rem); */
}

/* 모달창 내부 X버튼 */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* 버튼들 */
.loginSection{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.loginButtons:hover{
  filter: brightness(90%)
}