*{
  margin:0;
  padding:0;
}

.container{
  display: flex;
  justify-content: center;
  position: relative;
}

.mask{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(138, 139, 140, 0.8);
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  opacity: 0;
  display: none;
  transition: opacity 5s 5s linear;
}

.mask.active{
  display: flex;
  opacity: 100;
}

.mask .winner{
  width: 400px;
  height: 500px;
  background-color: #FEFFF9;
  margin-bottom: 50px;
  color: #5A1730;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  /* line-height: 150px; */
  box-shadow: 1px 4px 5px rgba(76, 87, 96, 0.3);
  border: #5A1730 2px solid;
}

.mask .winner .winnerTitle{
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

.mask .winner .winnerTag{
  margin-top: 10px;
}

.mask .winner .winnerText{
  font-size: 20px;
  text-align: center;
}

.mask svg{
  width:200px;
}

.list-wrap{
  position: absolute;
  left: -362px;
  padding: 30px 30px 0 30px;
  background-color: #F8E7E4;
  height: 95vh;
  width: 300px;
  z-index: 2;
  border: #5A1730 2px solid;
  transition: left .1s 0s linear;
}

.list-wrap.active{
  left: 0px;
}

.list-wrap .listBtn{
  position: absolute;
  background-color: #F8E7E4;
  color: #5A1730;
  border-radius: 0 20% 20% 0;
  border: #5A1730 2px solid;
  border-left: none;
  right: -42px;
  width: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-wrap .listBtn:hover{
  cursor: pointer;
}

input{
  border: #5A1730 3px solid;
  border-radius: 10px;
  outline: none;
  padding: 5px 10px;
  width: 270px;
}

.list-wrap .list{
  height: 90vh;
  overflow: scroll;
}
.list-wrap li{
  color: #5A1730;
  font-family: 'Noto Sans TC', sans-serif;
  margin: 10px 30px;
  
}

.gachapon{
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10%;
}

@keyframes switch-rotate {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(-10deg) }
  100% { transform: rotate(0deg) }
}

.switch{
  width: 70px;
  position: absolute;
  bottom: 75px;
  left: 115px;
  transition: transform .3s 0s linear; 
}

.switch:hover{
  cursor: pointer;
}

.switch.active{
  transform: rotate(-90deg) ;
}

.machine{
  width: 300px;
}

.egg{
  display: none;
  opacity: 0;
  transform: translate(0, -25px);
  transition: transform .4s 1.5s linear, opacity .1s 1.5s linear;
  transition: transform 0s 0s linear, opacity 0s 0s linear;
}

@keyframes horizontal-shaking {
  0% { transform: translateY(38px) }
  25% { transform: translateY(30px) }
  50% { transform: translateY(25px) }
  75% { transform: translateY(30px) }
  100% { transform: translateY(38px) }
}

.egg.active{
  display: block;
  opacity: 100;
  transform: translate(0, 35px);
  transition: transform .2s 1.5s linear, opacity .1s 1.5s linear;  
  animation: horizontal-shaking 1s ease-in-out infinite;
}

.egg:hover{
  cursor: pointer;
}