.header {
  width: 100%;
  text-align: center;
  background-color: aquamarine;
  position: relative;
}

.logo{
  width: 3em;
}

.title {
  margin: 0;
  color: aliceblue;
}

.logout {
  position: absoulte;
  background-color: black;
  color: wheat;
  border: 0;
  outline: 0;
  cursor: pointer;
}