@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont,'Noto Sans KR', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://res.cloudinary.com/nsurfer/image/upload/v1680503595/main01_hr7vba.gif"), url("https://res.cloudinary.com/nsurfer/image/upload/v1680503595/main02_gwvya2.gif");
  background-repeat: no-repeat, repeat-y;
  background-position: center top, center top;
  background-size: 1100px, 1100px;
  width: 1100px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
